h1 {
    font-family: "Montserrat";
    font-size: 2rem;
    line-height: 1.5;
    font-weight:600;
  }

  html,body {
    font-family: "Montserrat";
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }
  .learn{
    width: 100%;
    height: 100px;
    background-color: #D84E4E;
    color: white;
    border-radius: 50px;
    font-family: Cascadia Mono;
    font-size: 50px;
    
    margin-top: 50px;
    cursor: pointer;
    border: 0;
    background: linear-gradient(
      -45deg, #ee7752, #e73c7e, #135eff, #9123d5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
 
  }

/*Header  */


header{
  
  top:0px;
  background-color: rgb(29, 4, 97);
  border-bottom: 4px solid rgb(48, 186, 153) ;
  padding-right:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.logo h1:hover{
  text-shadow: 0px 0px 6px rgb(255, 255, 255);
  color: white;
}
.links{
display: flex;
justify-content: space-between;
align-items: center;
width:250px;
}
.links a{
  text-decoration: none;
  color: rgb(212, 212, 212);
}
.links a:hover{
  text-shadow: 0px 0px 6px rgb(255, 255, 255);
  color: white;
}
header input{
display: none; 
}
header input:checked ~ .links2{
right: 0px;
}
header input:checked ~ label .img1{
display: none;
}
header input:checked ~ label .img2{
display: inline-block;
}
header label{
  position: relative;
  display: none;
  right: 20px;
  width: 30px; 
  height: 47.619047px;
  box-sizing: border-box;
  transition: 1s ease;
  transition-delay: 0.2s;
  z-index: 3;
}
header label:hover{
  transform: rotate(720deg);
}
header label , header label:before, header label:after{
  background-color:#009688;
  border-radius: 3px;
}
header label:before, header label:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
header label:before {
  transform: rotate(60deg);
  z-index: 3;
}
header label:after {
  transform: rotate(-60deg);
  z-index: 5;
}
header label img{         
  position: absolute;
  top: 8.8px ;
  left: 0px;
  width: 100%;
  z-index: 6;
}
header label .img2{
  display: none;
}
header .links2{
  position: fixed;
  top:0px;
  right:-100%;

  width: 100%;
  height:100%;
  z-index: 2;
}
.links2 div{
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: black;
  width: 70%;
  height:100%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}
.links2 div a{
  text-decoration: none;
  color: rgb(212, 212, 212);
  margin-top: 10px;
  font-size: 25px;
}
.links2 div a:hover{
  text-shadow: 0px 0px 6px rgb(255, 255, 255);
  border: 2px solid black;
  color: white;
}
@media (max-width: 700px) {
.links {
  display: none;
}
header label{
 display: inline-block; 
}
}
@media (min-width: 1500px) {
header{
  padding-right: 10%;
  padding-left: calc( 10% - 20px);
}
}
@media (max-width: 440px) {
.logo img{
  width: 120px;
}
.logo h1{
  font-size:26px
}
header label{
  width: 20px; 
  height: 31.746px;
}
header label img{         
  position: absolute;
  top: 5.867px ;
}
}
@media (max-width: 345px) {
.logo img{
  width: 100px;
}
.logo h1{
  font-size:24px
}
header label{
  width: 15px; 
  height: 23.809px;
}
header label img{         
  position: absolute;
  top: 5.867px ;
}
}


/*end header*/

/* Navigation portion */

#nav-portion{background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo{
  width: 15%;
  
}

.navbar {
  padding: 0 0 4.5rem;

}

.navbar-brand {
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  font-weight: bold;
 padding-left: 30%;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
  margin: 0 15px;
}

  .adjust{
    padding-left: 8%;
  }
  .title-image {
    width: 90%;
     text-align:right;
  }
  .title-image2 {
    width: 90%;
     text-align:right;
  }
  
  h3 {
    font-family: "Montserrat";
  }
  
  h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
  }
  
  p {
    color: #32ad5b;
  }

/* title portion */

 
  .title-image3{
    width: 90%;
     text-align:left;
  }
  
  h3 {
    font-family: "Montserrat";
  }
  
  h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
  }

  #title-portion{
    background-color:#63B4B8;
    color:#fff;
    font-family: "Montserrat";
    padding: 7% 15%;
    text-align: center;
    height: 70vh;
  }
  #title-portion p{
    color:#fcfdfd;
  }
.row_head_first{
  font-family:Arial, Helvetica, sans-serif;
  font-size:2.5rem;
  line-height: 1.5;
  font-weight: 600;
    
}
.row_head_second{

  color: #fff;;
}
/* second title part */
#title-portion2{
  background-color: rgb(211 245 255 / 50%);
  color: rgb(0, 0, 0);;
  font-family: "Montserrat";
  padding: 7% 15%;
  text-align:left;
}
#title-portion1{
  background-color:#A9E4D7;
  color: #fff;;
  font-family: "Montserrat";
  padding: 7% 15%;
  text-align:left;
  background-color:#63B4B8;
    color:#fff;
    font-family: "Montserrat";
}
#title-portion3{
  background-color:#A9E4D7;
  color: #fff;;
  font-family: "Montserrat";
  padding: 7% 15%;
  text-align:left;
  background-color:#63B4B8;
    color:#fff;
    font-family: "Montserrat";
}
#title-portion2 p{
  color:#4B3869;
}
.row_head_secondp{

  color:#fcfdfd;
}
/* testimonial part */

#testimonials {
  padding: 2% 15%;
  text-align: center;
  background-color: rgb(211 245 255 / 50%);
  color: rgb(10, 195, 252);
}


#heading{
  font-size: 2.5rem;
}

/*
#testimonials{
background-color: #63B4B8;
}
*/




/*footer*/
footer{
  background: #63b4b8;;
}
a:link{
  color: #fff;
  text-decoration: none;
}
a:visited{
  color: #fff;
  text-decoration: none;
}
a:hover{
  color: #fff;
  text-decoration: none;
}
a:active{
  color: #fff;
  text-decoration: none;
}